<div class="container">
  <div class="grid-item accounts_column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registered accounts
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let account of accounts">{{ account.name }}
            <mat-icon color="primary" [matTooltip]="account['hint'] || ''" class="small-icon">info</mat-icon>
            <mat-icon color="primary" matTooltip="Edit account" class="small-icon pointer" (click)="editAccount(account.id)">edit</mat-icon>
            <mat-icon color="primary" matTooltip="Delete account" class="small-icon pointer" (click)="deleteAccount(account.id)">delete</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-header>
        <mat-card-subtitle>Total count: {{ accounts.length }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="grid-item accounts_column" [hidden]="schedules.length==0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add new account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form novalidate [formGroup]="accountForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="name" placeholder="Account Name" type="text" required>
              <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            Account type:<br/>
            <mat-select class="full-width"  placeholder="Account type" formControlName="accountType">
              <mat-option value="CREDIT_CARD">
                Credit card
              </mat-option>
              <mat-option value="CHECKING">
                Checking
              </mat-option>
              <mat-option value="SAVINGS">
                Savings
              </mat-option>
              <mat-option value="CAR_LOAN">
                Car loan
              </mat-option>
              <mat-option value="PERSONAL_LOAN">
                Personal loan
              </mat-option>
              <mat-option value="MORTGAGE">
                Mortgage
              </mat-option>
              <mat-option value="RETIREMENT">
                Retirement
              </mat-option>
            </mat-select>
          </p>
          <p>
            Account schedule:<br/>
            <mat-select class="full-width"  formControlName="scheduleId">
              <mat-option *ngFor="let schedule of schedules" [value]="schedule.id">
                {{schedule.name}}
              </mat-option>
            </mat-select>
          </p>
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="currentBalance" placeholder="Current balance" type="text" required>
              <mat-error *ngIf="formErrors.currentBalance">{{formErrors.currentBalance}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="statementBalance" placeholder="Statement balance" type="text" required>
              <mat-error *ngIf="formErrors.statementBalance">{{formErrors.statementBalance}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="monthlySpend" placeholder="Monthly spend" type="text" required>
              <mat-error *ngIf="formErrors.monthlySpend">{{formErrors.monthlySpend}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-raised-button color="primary" class="full-width overhead" [disabled]="!this.accountForm.valid">ADD</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid-item accounts_column" [hidden]="schedules.length>0">
    <mat-card>
      <mat-card-content>
        You cannot add new accounts.<br/>
        No schedules defined.
      </mat-card-content>
    </mat-card>
</div>


